{% extends "base.html" %} {% block style %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/style_general.css') }}"
/>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/script_slot_view.js') }}"
></script>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/script_beacon_common.js') }}"
></script>
{% endblock %} {% block content %}

<h1>Slots</h1>
<select class="selectpicker form-select-sm" aria-label=".form-select-sm example" 
        id="provider-selector">
</select>


<h5 style="margin: 0 auto" id="current_epoch">
    Current Epoch: 
</h5>

<h5 style="margin: 0 auto" id="current_slot">
Current Slot: 
</h5>
  
<div class="main-table" id="mainTable" style="overflow-x: auto">
  <table>
    <thead>
      <tr>
        <th>Epoch</th>
        <th>Slot</th>
        <th>Block</th>
        <th>Status</th>
        <th>Time</th>
        <th>Proposer</th>
        <th>Committees</th>
      </tr>
    </thead>
    <tbody id="table-body">

    </tbody>
    
  </table>
</div>

{% endblock %}
