*, *:before, *:after {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
}

html, body, .container, .map {
    height: 100%;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.input-wrap {
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100vw - 20px);
    border: 2px #333 solid;
    background-color: #fff;
}

.input {
    font-size: 1.3em;
    line-height: 2.4rem;
    width: 100%;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: 'Courier New', Courier, monospace;
}