*, *:before, *:after {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
}

html, body, .container, .map {
    height: 100%;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.panel {
    position: absolute;
    opacity: 85%;
}

.panel .panel-title {
    font-family: 'Courier New', Courier, monospace;
    padding: 5px 5px 3px 5px;
    background-color: #333;
    display: inline-block;
    color: #ddd;
    line-height: .8em;
    font-weight: bold;
}

.wrap {
    border: 2px #333 solid;
    background-color: #fff;
    width: 100%;
}

.filter-panel {
    top: 10px;
    left: 10px;
    width: calc(100vw - 20px);
}

.filter {
    font-size: 1.3em;
    line-height: 2.4rem;
    width: 100%;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

.log-panel {
    font-family: 'Courier New', Courier, monospace;
    bottom: 10px;
    left: 10px;
    width: calc(100vw - 20px);
}

.info-plate-panel {
    font-family: 'Courier New', Courier, monospace;
    top: 85px;
    right: 10px;
    min-width: 300px;
}

.info-plate {
    padding: .25em;
    font-size: .85em;
}

.info-plate .title {
    font-size: 1.2em;
    font-weight: bold;
}

.info-plate .label {
    font-weight: bold;
}

.info-plate .label:after {
    content: ':';
    padding-right: .5em;
}

.log {
    width: 100%;
    max-height: 180px;
    overflow-y: scroll;
}

a, a:visited {
    color: #000;
}

.log th {
    background-color: #ccc;
    text-align: left;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.log tr:hover {
    background-color: #eee;
}

.input-wrap.error, .input.error {
    color: red;
    border-color: red;
}

.input-wrap.disabled, .input.disabled {
    background-color: #ccc;
}