**/output/*
**/eth-states*/*
**/test_log*/*
**/__pycache__/*
*.bak
*.out
*.o
*.so
*.swp
.DS_Store
*.tfvars
*.pyc
.idea
docs-out
__pycache__
build
dist
*.egg-info
client/frontend/public/*.js
client/frontend/public/*.map
client/frontend/public/*.txt
client/frontend/public/fonts
client/frontend/node_modules
client/backend/node_modules
client/backend/bin
*.bin
output
project-words.txt
