aiohappyeyeballs==2.4.6
aiohttp==3.11.13
aiosignal==1.3.2
annotated-types==0.7.0
async-timeout==5.0.1
attrs==25.1.0
base58==2.1.1
bitarray==2.9.3
certifi==2025.1.31
chardet==3.0.4
cytoolz==0.12.3
docker==4.1.0
eth-abi==2.2.0
eth-account==0.5.9
eth-hash==0.7.1
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp<0.3
eth-typing==2.3.0
eth-utils==1.9.5
Faker==24.4.0
frozenlist==1.5.0
geopy==2.4.1
hexbytes==0.3.1
idna==2.8
ipfshttpclient==0.8.0a2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
lru-dict==1.3.0
multiaddr==0.0.9
multidict==6.1.0
netaddr==1.3.0
parsimonious==0.8.1
propcache==0.3.0
protobuf==3.19.5
pycryptodome==3.21.0
pydantic==2.10.6
pydantic_core==2.27.2
python-dateutil==2.9.0.post0
python-on-whales==0.75.1
PyYAML==6.0.2
referencing==0.36.2
requests==2.22.0
rlp==2.0.1
rpds-py==0.23.1
six==1.17.0
toolz==1.0.0
typing_extensions==4.12.2
urllib3==1.25.11
varint==1.0.2
web3==5.31.1
websocket-client==1.8.0
websockets==9.1
yarl==1.18.3
