body {
    background: #f3f3f3;
}

.sketchy {
    border: 3px solid #333333;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    background: #ffffff;
    position: relative;
}

/* .sketchy::before{

    content: "";
    border: 2px solid #353535;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
} */




h1{
    padding-bottom: 10px;
}

select, input{
    font-size: medium;
}

label, span{
    font-size: medium;
    margin: 10px auto;
    text-align: center;
}

/* connected status block*/
#connected_btn{
    background-color: orange;
    border-radius: 10px;
    margin-bottom: 15px;
}

#connected-status-block{
    margin-top: 5px;
    min-height: 80px;
}

#connect_tick{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* connected button*/

/* preview block */

#abi-pre-block{

    font-size: small;
    height: 45vh;
    margin: auto calc(40% - 150px);
    border-style: solid;
    overflow-x:auto;
}


/* preview block */


/* deploy status block */

#deploy-status-block{
    font-size: small;
    height: 23vh;
    margin: 10px calc(40% - 150px);
    border-style: solid;
    overflow-x:auto;
    display: flex;
    flex-direction: column;
}

/* deploy status block */

/* deploy block */


#account{

    width: 20vw;
}

#ether-value{
    width: 50%;
}

#deploy{
    margin-bottom: 5px;
}

.upload-block{
    display: flex;
    flex-direction: column;
}

.deploy-arugments-block{
    display: none;
    flex-direction: column;
}

/* deploy block */

.sub-content{
    width: 50%;
    text-align: center;
}

.main-content{
    display: flex;
    height: 100%;
    margin-bottom: 10px;
}


@media screen and (max-width: 1050px) {
    .main-content{
        display: flex;
        flex-direction: column;
    }
    .sub-content{
        width: 100%;
        text-align: center;
    }

    #abi-pre-block{
        font-size: small;
        height: 50vh;
        margin: auto calc(30% - 100px);
        border-style: solid;
        overflow-x:auto;
    }

    /* deploy status block */

    #deploy-status-block{
        font-size: small;
        height: 15vh;
        margin: 15px calc(30% - 100px);
        border-style: solid;
        overflow-x:auto;
    }

    /* deploy status block */

    
  }



