table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  /* max-width: 1100px; */
  width: 100%;
  margin: 0 0;
  position: relative;
}
table * {
  position: relative;
}
table td,
table th {
  padding-left: 8px;
  font-size: 16px;
}
table thead tr {
  height: 60px;
  background: #ccc;
  font-size: 16px;
}
table tbody tr {
  height: 48px;
  border-bottom: 1px solid #e3f1d5;
}
table tbody tr:last-child {
  border: 0;
}
table td,
table th {
  text-align: center;
}

table tbody tr:hover {
  background-color: #ebe6e6;
}
table td.l,
table th.l {
  text-align: right;
}
table td.c,
table th.c {
  text-align: center;
}
table td.r,
table th.r {
  text-align: center;
}

@media screen and (max-width: 35.5em) {
  table {
    display: block;
  }
  table > *,
  table tr,
  table td,
  table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 8px 0;
  }
  table tbody tr td {
    padding-left: 45%;
    margin-bottom: 12px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    position: absolute;
    font-weight: 700;
    width: 40%;
    left: 10px;
    top: 0;
  }
  table tbody tr td:nth-child(1):before {
    content: "Transaction ID";
  }
  table tbody tr td:nth-child(2):before {
    content: "Date/Time";
  }
  table tbody tr td:nth-child(3):before {
    content: "Balance Change";
  }
  table tbody tr td:nth-child(4):before {
    content: "Block";
  }
  table tbody tr td:nth-child(5):before {
    content: "TX Time";
  }
}

.form-group {
  font-size: large;
}
