<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script
      src="{{ url_for('static', filename='js/ethers-5.4.umd.min.js') }}"
      type="application/javascript"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
      rel="stylesheet"
    />
    <script
      src="{{ url_for('static', filename='js/jquery.min.js') }}"
    ></script>
    <script
      src="{{ url_for('static', filename='js/fontawesome.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/script_common.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/script_base.js') }}"
    ></script>
    {% block style%} {% endblock %} {% block title%} {% endblock%}
  </head>
  <body>
    <div class="sidenav" id="side_nav">
      <a href="{{ url_for('general.account_view') }}">Balance</a>
      <a href="{{ url_for('general.block_view') }}">Blocks</a>
      <a href="{{url_for('general.txpool')}}">TxPool</a>
    </div>
    <div>
      <div class="main">{% block content %} {% endblock %}</div>
    </div>
  </body>
</html>
