{% extends "base.html" %}

{% block style %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_general.css') }}">

<script>
   var emulator_parameters = {};
{% for variable, value in data.items() %}
   emulator_parameters["{{ variable }}"] = "{{ value }}";
{% endfor %}
</script>

<script type="text/javascript" src="{{ url_for('static', filename='js/script_account_view.js') }}"></script>
{% endblock %}


{% block content %}

<div style="font-size:12px;">
    Provider: 
    <select class="selectpicker form-select-sm" aria-label=".form-select-sm example" 
           id="provider-selector">
    </select>
</div>

<hr>

<h2>Account Balance</h2>
<div class='main-table' id="mainTable" style='overflow-x: auto;'> 
    <table>
        <thead>
            <tr>
                <th>Account No</th>
                <th>Name</th>
                <th>Balance</th>
                <th>Change +/-</th>
                <th>Nonce</th>
            </tr>
        </thead>
        <tbody id="table-body">

        </tbody>
    </div>
    </table>

</div>

{% endblock %}
