{% extends "base.html" %} {% block style %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/style_tab.css') }}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/style_block.css') }}"
/>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_one_block.css') }}">

<script>
     var emulator_parameters = {};
  {% for variable, value in data.items() %}
     emulator_parameters["{{ variable }}"] = "{{ value }}";
  {% endfor %}
</script>

<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/script_block_view.js') }}"
></script>
{% endblock %} {% block content %}
<div class="main-tab" id="mainTab" style="overflow-x: auto">
  <div class="tab">
    <button
      class="tablinks"
      onclick="openTab(event, 'RecentView')"
      id="defaultOpen"
    >
      Recent
    </button>
    <button class="tablinks" onclick="openTab(event, 'Blocks')">Blocks</button>
    <button class="tablinks" onclick="openTab(event, 'Block')">Block</button>
  </div>

  <div id="RecentView" class="tabcontent">
    <div class="container">
      <div class="main-content">
        <div class="sub-content">
          <h5>Recent Blocks</h5>
          <div class="rounded sketchy" id="block-area">
            <ul
              class="list-group list-group-light list-group-small"
              id="block-list"
            ></ul>
          </div>
        </div>

        <div class="sub-content">
          <h5>Recent Transactions</h5>
          <div class="rounded sketchy" id="transaction-area">
            <ul
              class="list-group list-group-light list-group-small"
              id="transaction-list"
            ></ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="Blocks" class="tabcontent">
    <div class="table-responsive mb-2 mb-md-0">
      <table class="table table-hover" style="overflow-x: auto">
        <thead align="center">
          <th>Block</th>
          <th>Age</th>
          <th>Txn</th>
          <th>Fee Recipient</th>
          <th>Gas Used</th>
          <th>Gas Limit</th>
          <th>Base Fee</th>
          <th>Reward</th>
          <th>Burnt Fees(ETH)</th>
        </thead>
        <tbody id="blocks-table-body"></tbody>
      </table>
    </div>
  </div>

  <div id="Block" class="tabcontent">

   <div style="font-size:12px;">
      <button id="new-block-button">Get a new block</button>
      <input type="text" id="new-block-number" placeholder="block number" size=10>
   </div>
   
   <hr>
   
   <h2 id="page-title">Search Block</h2>
   <div class='container'>
       <table class='block-table' text-align=left'>
           <tbody id="block-table-body">
   
           </tbody>
       </table>
   </div>
   
  </div>
</div>

{% endblock %}
