{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_tab.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_one_block.css') }}"/>

<script>
   var emulator_parameters = {};
{% for variable, value in data.items() %}
   emulator_parameters["{{ variable }}"] = "{{ value }}";
{% endfor %}
</script>

<script type="text/javascript" src="{{ url_for('static', filename='js/script_one_tx.js') }}"></script>


{% endblock %}

{% block content %}

<div class="container">
    <div style="font-size:12px;">
    <button id="new-tx-button">Get a new transaction</button>
    <input type="text" id="new-tx-hash" placeholder="hash" size=54>
    </div>
</div>

<hr>

<div class="main-tab" id="mainTab" style="overflow-x: auto">
  <div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Transaction')" id="defaultOpen">
      Transaction
    </button>
    <button class="tablinks" onclick="openTab(event, 'Receipt')">
      Receipt
    </button>
  </div>

  <div id="Transaction" class="tabcontent">
    <div class="rounded sketchy" id="tx-area">
       <table class='tx-table' text-align=left'>
          <tbody id="tx-table-body">
          </tbody>
       </table>
    </div>
  </div>

  <div id="Receipt" class="tabcontent">
    <div class="rounded sketchy" id="tx-receipt-area">
       <table class='tx-receipt-table' text-align=left'>
          <tbody id="tx-receipt-table-body">
          </tbody>
       </table>
    </div>
  </div>
</div>
{% endblock %}
