{% extends "base.html" %} {% block style %}

<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/style_block.css') }}"
/>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/script_txpool.js') }}"
></script>
{% endblock %} {% block content %}

<h1 id="page-title">TxPool</h2>
<div class="container">
  <div class="table-responsive mb-2 mb-md-0">
    <table class="table table-hover" style="overflow-x: auto">
      <thead align="center">
        <th>Node IP</th>
        <th>Pending Txs</th>
      </thead>
      <tbody id="txpool-table-body"></tbody>
    </table>
  </div>
</div>

{% endblock %}
