CARLA_IP=128.230.114.88
CARLA_PORT=2000
ROLE_NAME_1=car1
ROLE_NAME_2=car2
ROLE_NAME_3=car3
ROLE_NAME_4=car4
ROLE_NAME_5=car5
ROLE_NAME_6=car6
CAMERA_1=on
CAMERA_2=off
CAMERA_3=off
CAMERA_4=off
CAMERA_5=off
CAMERA_6=off
TRAFFIC_VEHICLES_NO=5
TRAFFIC_WALKERS_NO=2
CARLAVIZ_LOGFILE_NAME=carlaviz.log
CARLAVIZ_EGO_VEHICHLE_NAME=car1
CARLAVIZ_RETRY_SECONDS=300
