##################################################
#                 Getting Started                #
##################################################

# Admin account
export GS_ADMIN_ADDRESS=0xdFC7d61047DAc7735d42Fd517e39e89C57083b45
export GS_ADMIN_PRIVATE_KEY=0xd1e9509fa96d231fe323bda01cd954d4a74796a859ebe9dd638d5f0824d1ebd4

# Batcher account
export GS_BATCHER_ADDRESS=0x9C1EA6d1f5E3E8aE21fdaF808b2e13698737643C
export GS_BATCHER_PRIVATE_KEY=0x742dd19d7c2ed107027d8844e72ebc34b83091e1f58a7e95009e829fe06a7b12

# Proposer account
export GS_PROPOSER_ADDRESS=0x30ca907e4028346E93c081f30345d3319cb20972
export GS_PROPOSER_PRIVATE_KEY=0x00683c828f09af18e0febb495ebee48fb2c581e2a6fa83e6ddaee3a359358af9

# Sequencer account
export GS_SEQUENCER_ADDRESS=0x0e259e03bABD47f8bab8Ec93a2C5fB39DB443a3d
export GS_SEQUENCER_PRIVATE_KEY=0x9a031a3aee8b73427b86d195b387a10dd471f5707709923a16882141b37a1c17

# Test account
export GS_TEST_ADDRESS=0x2DDAaA366dc75119A256C41b9bd483D13A64389d
export GS_TEST_PRIVATE_KEY=0x4ba1ada11a1d234c3a03c08395c82e65320b5ae4aecca4a70143f4c157230528

##################################################
#              op-node Configuration             #
##################################################

# The kind of RPC provider, used to inform optimal transactions receipts
# fetching. Valid options: alchemy, quicknode, infura, parity, nethermind,
# debug_geth, erigon, basic, any.
export L1_RPC_KIND=basic

##################################################
#               Contract Deployment              #
##################################################

# RPC URL for the L1 network to interact with
export L1_RPC_URL=http://localhost:12545

export L2_RPC_URL=http://localhost:8545

# Salt used via CREATE2 to determine implementation addresses
# NOTE: If you want to deploy contracts from scratch you MUST reload this
#       variable to ensure the salt is regenerated and the contracts are
#       deployed to new addresses (otherwise deployment will fail)
export IMPL_SALT=$(openssl rand -hex 32)

# Name for the deployed network
export DEPLOYMENT_CONTEXT=getting-started

# Optional Tenderly details for simulation link during deployment
export TENDERLY_PROJECT=
export TENDERLY_USERNAME=

# Optional Etherscan API key for contract verification
export ETHERSCAN_API_KEY=

# Private key to use for contract deployments, you don't need to worry about
# this for the Getting Started guide.
export PRIVATE_KEY=


# export L2_RPC_URL=http://localhost:8545
export L2_NS_RPC_URL0=http://localhost:9545
