{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_contract_list.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/script_contract_list.js') }}"></script>
{% endblock %}

{% block content %}

<h1> Contract List </h1>

<div class="main-table" style="overflow-x:auto;">
    <table>
        <thead>
            <tr>
                <th>Block No.</th>
                <th>Contract Name</th>
                <th>Contract Address</th>
                <th>Owner</th>
                <th>Contract Balance</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="table_body">
            {% for contract in contractList%}
                <tr id="{{contract.address}}">
                    <td>{{ contract.block }}</td>
                    <td>{{ contract.name }}</td>
                    <td>{{ contract.address }}</td>
                    <td>{{ contract.owner }}</td>
                    <td>{{ contract.balance }} Eth</td>
                    <td>
                        <a href="{{ url_for('contract.contract_view', address = contract.address, abi = contract.abi ) }}"><button type="button" class="btn btn-primary">View</button><a>
                        <button class="contract-abi-btn btn btn-info" type="button" onclick="abi_pop_up(`{{contract.abi}}`, `{{contract.name}}`)">abi</button>
                        <button class="btn btn-danger delete-btn" type="button" onclick="delete_btn(`{{contract.address}}`,`{{contract.name}}`)">Delete</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
<div id="test"><div>
<div class="popup">
    <h3 class="contract_name"></h3>
    <button type="button" class="btn-close" aria-label="Close"></button>
    <div id="abi-window-content"></div>
</div>

{% endblock %}