{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_deploy.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/script_deploy_contract-metamask.js') }}"></script>
{% endblock %}

{% block content %}
<div>
    <div>
        <h1> Contract deployment</h1>
    </div>
    <div class="main-content">
        <div class="sub-content sketchy" id="upload-content">
            <div id="connected-status-block">
                <i style="display: block;" class="fa-solid fa-circle-xmark" id="connect_cross"></i>
                <i style="display: none; color: orange;" class="fa-solid fa-circle-check"id="connect_tick"></i>
                <input id="connected_btn" type="button" value="connect" onclick="connect_metamask()">
            </div>
            <h5>Upload .abi and .bin files</h5>
            <div class="upload-block">  
                <span>.abi: <input type="file" id="abi-file" accept=".abi" name="abi-input"></span>
                <span>.bin: <input type="file" id="bin-file" accept=".bin"></span>
                <span><input class="btn btn-secondary" type="button" id= "upload" value="upload"></span>
            </div>
            <br>
            <div class="deploy-block">
                <div>
                    <label>Choose an account:</label>
                    <select name="account" id="account">
                        <option id="account_option"></option>
                        <!-- {% for wallet, address in data.address %}
                            <option>{{wallet + ":" + address}}</option>
                        {% endfor %} -->
                    </select>
                </div>
                <div>
                    <label>Gas limit: <input id="gas-limit" type="number" min="0" value="2000000"></label>
                    <label>Value: <input id="ether-value" type="number" min="0" value="0">
                        <select id="value-unit">
                            <option>Ether</option>
                            <option>Wei</option>
                            <option>Gwei</option>
                        </select>
                    </label>
                </div>
                <div class="deploy-arugments-block">
                    
                </div>
                <div>
                    <input class="btn btn-primary" type="button" id="deploy" value="deploy">
                </div>
            </div>
        </div>
        <div class="sub-content" id="preview-content">
            <h5>Preview abi</h5>
            <div id="abi-pre-block" class="rounded sketchy"></div>
            <h5 style="margin-top:5px;">Deployment Status</h5>
            <div id="deploy-status-block" class="rounded sketchy"></div>
        </div>
    </div>

</div>
{% endblock %}