{% for contract in contractList%}
    <tr id="{{contract.address}}">
        <td>{{ contract.block }}</td>
        <td>{{ contract.name }}</td>
        <td>{{ contract.address }}</td>
        <td>{{ contract.owner }}</td>
        <td>{{ contract.balance }} Eth</td>
        <td>
            <a href="{{ url_for('contract.contract_view', address = contract.address, abi = contract.abi) }}"><button type="button" class="btn btn-primary">View</button><a>
            <button class="contract-abi-btn btn btn-info" type="button" onclick="abi_pop_up(`{{contract.abi}}`, `{{contract.name}}`)">abi</button>
            <button class="btn btn-danger delete-btn" type="button" onclick="delete_btn(`{{contract.address}}`,`{{contract.name}}`)">Delete</button>
        </td>
    </tr>
{% endfor %}